<div class="background">
    <div class="container pt-5">

        <div class="text-center">
            <h1 class="fw-bold text-light placeholder-glow">Welcome <br> The NASA API</h1>
        </div>

        <div class="mt-5 text-center">
            <figure class="figure">
                <img src="../../../assets/nasa-img.png" style="width: 30%;" class="figure-img img-fluid rounded" alt="...">
            </figure>
        </div>

        <div class="text-center">
            <button routerLink="/mars/all" type="button" class="btn btn-secondary">Go to search</button>
        </div>
    </div>
</div>